Task 1  Sprint_1b

In [1]:
# 1
s = "Programming"
print(len(s))
print(s[0])

11
P

In [2]:
# 2
s1 = "Hello"
s2 = "World"
result = s1 + " " + s2
print(result)

Hello World

In [3]:
# 3
text = "Python"
print(text[-1])

n

In [4]:
# 4
s = "Artificial"
print(s[0:3])

Art

In [5]:
# 5
word = "Code"
print(word[::-1])

edoC

In [6]:
# 6
s = "abcdefgh"
print(s[::2])

aceg

In [ ]:
# 7
text = "data"
print(text.upper())
print(text.lower())

In [7]:
# 8
s = "Python-R-Java"
print(s.split("-"))

['Python', 'R', 'Java']

In [8]:
# 9
ad = "Ayxan"
yas = 25
print(f"{ad} {yas} yaşındadır")

Ayxan 25 yaşındadır

In [9]:
# 10
s = "salam-dunya"
print(s.replace("-", " "))

salam dunya

Task 2 Sprint_2b_task

In [10]:
import pandas as pd

s1 = pd.Series([10, 20, 30, 40])
s1.index = ['w', 'x', 'y', 'z']

s2 = pd.Series({'p': 5, 'q': 10, 'r': 15})

print(s2['q'])

print(s1[s1 > 25])

print(s1[s1 > 20] / 10)

df1 = pd.DataFrame([(1, 2), (3, 4)])
df1.index = ['r1', 'r2']
df1.columns = ['c1', 'c2']

df2 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})

print(df2[df2['A'] > 1])

10
y    30
z    40
dtype: int64
y    3.0
z    4.0
dtype: float64
   A  B
1  2  4

Task 3 Sprint_1a task

In [12]:
a = str(123)
print(type(a))

b = int(19.99)
print(b)

c = int("500")
print(c / 2)

a = 8
b = 12
print(a < b)
print(a == b)

<class 'str'>
19
250.0
True
False

In [13]:
x = 5
y = 10
z = 15
print((x < y) and (y < z))

print(25 // 4)
print(25 % 4)
print(25 / 4)

print(3 ** 4)

qiymet = 75.5
qiymet = int(qiymet)
print(type(qiymet))

n = 20
print((n > 10) or (n < 5))
print((n > 15) and (n < 25))

d = float("42.8")
print(type(d))
e = int(d)
print(type(e))

True
6
1
6.25
81
<class 'int'>
True
True
<class 'float'>
<class 'int'>

Task 4 Sprint_2a_task

In [14]:
reqemler = [5, 10, 15, 20]

print(len(reqemler))

reqemler.append(25)

reqemler.insert(2, 12)

4

In [15]:
a = [1, 2, 3]
b = [4, 5, 6]
birlesmis = a + b
print(birlesmis)

print(reqemler[2:4])

reqemler[0] = 50

print(19 in reqemler)

[1, 2, 3, 4, 5, 6]
[12, 15]
False

In [16]:
herfler = ["a", "b", "a", "c"]
print(herfler.count("a"))

herfler2 = ["x", "y", "x", "z"]
while "x" in herfler2:
    herfler2.remove("x")
print(herfler2)

ededler = [7, 2, 9, 1]
ededler.sort(reverse=True)
print(ededler)

boyuk10 = [x for x in reqemler if x > 10]
print(boyuk10)

2
['y', 'z']
[9, 7, 2, 1]
[50, 12, 15, 20, 25]